@charset "UTF-8";

@font-face {
  font-family: "h1";
  src: url(fontes/Super\ Surge\ Personal\ Use.ttf);
}
@font-face {
  font-family: "nametag";
  src: url(fontes/Crang.ttf);
}
@font-face {
  font-family: "rodada";
  src: url(fontes/MyUnderwood.ttf);
}
@font-face {
  font-family: "label";
  src: url(fontes/Early\ GameBoy.ttf);
}
* {
  margin: 0px;
  padding: 0px;
}
/* -- O corpo -- */
html,
body {
  background-image: url(imgs/pixel-art-landscape-Terraria-2301230-wallhere.com.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(39, 35, 35);
}
/* -- barras -- */
hr {
  padding-top: 3px;
  margin: auto;
  width: 800px;
  height: 2px;
  background-color: rgb(238, 148, 13);
  border-radius: 20px;
  border-color: black;
}
#barbttn {
  width: 650px;
  margin-bottom: 15px;
}
/* -- Info -- */
abbr {
  text-decoration: none;
}
/* -- Os títulos -- */
header > p,
h1 {
  font-family: "h1";
  color: rgb(200, 126, 66);
  text-align: center;
}
header > h1 {
  padding-top: 50px;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 3em;
}
header > h1:hover {
  transform: scale(1.2);
  transition: 0.8s;
  cursor: pointer;
}
header > p {
  font-size: 19px;
  padding-bottom: 30px;
}
header {
  width: 500px;
  height: 170px;
  margin: auto;
}
/* -- Textos dos jogadores -- */
label {
  color: rgb(229, 176, 40);
  font-family: "label";
  font-size: 12px;
}
.players_tag > .plr1,
.plr2 {
  padding-left: 30px;
  cursor: pointer;
}
.players_tag > #player1 {
  border-radius: 10px;
  padding-left: 8px;
  background-color: rgb(235, 192, 140);
  font-weight: 600;
  color: rgb(48, 169, 48);
  border-color: rgb(58, 202, 58);
  border-width: 3px;
}
.players_tag > #player2 {
  border-radius: 10px;
  padding-left: 8px;
  background-color: rgb(235, 192, 140);
  font-weight: 600;
  color: rgb(187, 19, 19);
  border-color: rgb(209, 31, 31);
  border-width: 3px;
}
.players_tag {
  text-align: center;
  padding-top: 15px;
}
/* -- As nametags -- */
#name_player > .nametag,
.nametag2 {
  display: inline-block;
  padding: 15px;
  font-family: "nametag";
  font-size: 14px;
  font-weight: 400;
  padding-top: 35px;
}
#name_player > .nametag {
  color: rgb(106, 209, 101);
}
#name_player > .nametag:hover {
  transform: scale(1.2);
  transition: 0.8s;
  cursor: pointer;
}
#name_player > .nametag2 {
  color: rgb(230, 53, 47);
}
#name_player > .nametag2:hover {
  transform: scale(1.2);
  transition: 0.8s;
  cursor: pointer;
}
#name_player > #rodadaplr {
  color: rgb(171, 94, 68);
  font-family: "rodada";
  font-size: 16px;
  font-weight: 800;
  padding-top: 10px;
  padding-bottom: 15px;
}
/* -- conteudo principal -- */
#content_main {
  padding: 15px;
  width: 700px;
  height: 510px;
  background-color: rgb(89, 88, 88);
  margin: auto;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.547);
  opacity: 0.5;
}
#content_main > .conteudo01 {
  display: flex;
  padding: 10px;
}
#content_main > .conteudo02 {
  display: flex;
  padding: 10px;
}
#content_main > .conteudo03 {
  display: flex;
  padding: 10px;
}
